# Dependency directories
node_modules/
dist/

# Environment variables
.env

# OAuth tokens
token.json

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 